:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}
body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

main {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--white);
}

main img {
  width: 300px;
  border-radius: inherit;
}

main .text {
  width: 300px;
  margin: auto;
  text-align: center;
}

main .text h1 {
  font-size: 25px;
}

main .text p {
  margin-top: 10px;
  padding: 0px 25px;
  font-size: 15px;
  color: var(--grayish-blue);
  line-height: 1.5;
}

main .attribution {
  margin-top: 20px;
  font-size: 12px;
}

.attribution a {
  text-decoration: none;
  font-size: 12px;
}
