:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}
body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

main {
  padding: 15px;
  border-radius: 15px;
  background-color: var(--white);
  width: 280px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 6%);
}

main img {
  max-width: 100%;
  border-radius: inherit;
}

main .text {
  text-align: center;
}

main .text h1 {
  font-size: 20px;
  margin-left: 8px;
  margin-right: 8px;
  color: var(--dark-blue);
}

main .text p {
  margin-top: 10px;
  padding: 0px 15px;
  font-size: 15px;
  line-height: 1.2;
  color: var(--grayish-blue);
}
