:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--light-gray);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  padding: 15px;
  border-radius: 15px;
  background-color: var(--white);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 6%);
  max-width: 280px;
}

.card img {
  max-width: 100%;
  border-radius: inherit;
}

.card .text {
  text-align: center;
}

.card .text h1 {
  font-size: 20px;
  margin-left: 8px;
  margin-right: 8px;
  color: var(--dark-blue);
}

.card .text p {
  margin-top: 10px;
  padding: 0px 15px;
  font-size: 15px;
  line-height: 1.2;
  color: var(--grayish-blue);
}
